
page-home {
  
    p{
        font-size: 30px;
        color: #EA81D9;    margin-top: 5px;
        
        &.bleu{
            color: #51B2FD; 
        }
    }
    .f14{
        font-size: 14px;
        color: #676767;
    }

}
